.navbar {
  height: 5rem;
  #logo {
    position: absolute;
    top: 1rem;
    left: 2rem;
    img {
      width: auto;
      height: 45px;
    }
  }
  .navbar-nav {
    position: absolute;
    top: 1rem;
    right: 2rem;

    @media screen and (max-width: $md) {
      visibility: hidden;
    }
  }
}
