.navbar {
  img {
    width: auto;
    height: 45px;
  }
  height: 56px;
  .navbar-nav {
    position: absolute;
    display: flex;
    top: 1rem;
    right: 2rem;
    .nav-item {
      width: 100%;
      a {
        width: 100%;
      }
    }
  }
}
