*,
*:focus,
*:hover {
  outline: none !important;
}

body,
html,
#__next {
  padding: 0px;
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

#__next {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Open Sans", "Roboto", "Segoe UI", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
p {
  margin-bottom: 0;
}

.body {
  height: 100%;
}
